$border-thickness: 4px;

.button {
  @include button-reset;

  font-size: 1.25rem;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.4rem;
  border-radius: 0.2rem;
  transition: transform 0.15s ease-out;
  background: $gradient;
  border: $border-thickness solid transparent;
  position: relative;
  background-clip: padding-box;
  text-decoration: none;

  .inner {
    transition: transform 0.1s ease-out;
    white-space: nowrap;
  }

  &:not(.text) {
    &:hover .inner {
      transform: translateY(2%) scale(104%);
    }

    &:before {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      margin: -$border-thickness;
      border-radius: inherit;
      background: $gradient;
    }
  }
}

.secondary {
  background: $black;
  background-clip: padding-box;

  .inner {
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text {
  font-size: 1rem;
  padding: 0;
  background: $gradient;
  border: none;
  border-radius: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.1s ease-out;

  .inner {
    transition: margin 0.05s ease-out;
    padding-bottom: 0.1rem;
    border-bottom: 0.15rem solid $accent-green;
  }

  &:hover {
    transform: translateX(-0.2rem);
  }
}
