$black: #000000;
$white: #ffffff;
$accent-blue: #009adc;
$accent-green: #00e1d4;

$gradient: linear-gradient(310deg, $accent-blue 0%, $accent-green 100%);

$gutter-width: 8vw;
$max-content-width: 70rem;
